$badge-padding-horizontal: 0.75 * $grid-size;
$badge-min-width: $gl-spacing-scale-3;

@mixin gl-badge-variant(
  $variant,
  $color,
  $icon-color,
  $bg,
  $hover-color,
  $hover-icon-color,
  $border-color,
  $active-color,
  $active-icon-color,
  $active-bg
) {
  .gl-badge.badge-#{$variant} {
    background-color: $bg;
    color: $color;

    .gl-badge-icon {
      transition: inherit;
    }
  }

  a.gl-badge.badge-#{$variant} {
    &:hover {
      color: $hover-color;
      // Needed to override bootstrap's badge variant background
      background-color: $bg;
      box-shadow: inset 0 0 0 $gl-border-size-1 $border-color;
      @include gl-text-decoration-none;

      .gl-badge-icon {
        color: $hover-icon-color;
      }
    }

    &:focus {
      color: $hover-color;
      // Needed to override bootstrap's badge variant background
      background-color: $bg;

      .gl-badge-icon {
        color: $hover-icon-color;
      }
    }

    &.active,
    &:active {
      color: $active-color;
      background-color: $active-bg;

      .gl-badge-icon {
        color: $active-icon-color;
      }
    }

    &:active,
    &:focus,
    &:focus:active {
      @include gl-focus;
    }
  }
}

/* Basic badge styles */

.gl-badge {
  @include gl-display-inline-flex;
  @include gl-align-items-center;
  @include gl-justify-content-center;
  @include gl-font-sm;
  @include gl-font-weight-normal;
  @include gl-line-height-normal;
  gap: $gl-spacing-scale-2;
  padding: $gl-spacing-scale-1 $badge-padding-horizontal;

  @media (forced-colors: active) {
    border: 1px solid;
  }

  .gl-badge-icon {
    @include gl-h-5;
    @include gl-w-5;
    @include gl-flex-shrink-0;
    top: auto;
  }

  .gl-badge-content {
    min-width: $badge-min-width;
  }
}

/* Variants */

@include gl-badge-variant(
  $variant: muted,
  $color: var(--gl-status-muted-text-color-default),
  $icon-color: var(--gl-status-muted-icon-color-default),
  $bg: var(--gl-status-muted-background-color-default),
  $hover-color: var(--gl-status-muted-text-color-hover),
  $hover-icon-color: var(--gl-status-muted-icon-color-hover),
  $border-color: var(--gl-status-muted-border-color-hover),
  $active-color: var(--gl-status-muted-text-color-active),
  $active-icon-color:var(--gl-status-muted-icon-color-active),
  $active-bg: var(--gl-status-muted-background-color-active)
);

@include gl-badge-variant(
  $variant: neutral,
  $color: var(--gl-status-neutral-text-color-default),
  $icon-color: var(--gl-status-neutral-icon-color-default),
  $bg: var(--gl-status-neutral-background-color-default),
  $hover-color: var(--gl-status-neutral-text-color-hover),
  $hover-icon-color: var(--gl-status-neutral-icon-color-hover),
  $border-color: var(--gl-status-neutral-border-color-hover),
  $active-color: var(--gl-status-neutral-text-color-active),
  $active-icon-color:var(--gl-status-neutral-icon-color-active),
  $active-bg: var(--gl-status-neutral-background-color-active)
);

@include gl-badge-variant(
  $variant: info,
  $color: var(--gl-status-info-text-color-default),
  $icon-color: var(--gl-status-info-icon-color-default),
  $bg: var(--gl-status-info-background-color-default),
  $hover-color: var(--gl-status-info-text-color-hover),
  $hover-icon-color: var(--gl-status-info-icon-color-hover),
  $border-color: var(--gl-status-info-border-color-hover),
  $active-color: var(--gl-status-info-text-color-active),
  $active-icon-color:var(--gl-status-info-icon-color-active),
  $active-bg: var(--gl-status-info-background-color-active)
);

@include gl-badge-variant(
  $variant: success,
  $color: var(--gl-status-success-text-color-default),
  $icon-color: var(--gl-status-success-icon-color-default),
  $bg: var(--gl-status-success-background-color-default),
  $hover-color: var(--gl-status-success-text-color-hover),
  $hover-icon-color: var(--gl-status-success-icon-color-hover),
  $border-color: var(--gl-status-success-border-color-hover),
  $active-color: var(--gl-status-success-text-color-active),
  $active-icon-color:var(--gl-status-success-icon-color-active),
  $active-bg: var(--gl-status-success-background-color-active)
);

@include gl-badge-variant(
  $variant: warning,
  $color: var(--gl-status-warning-text-color-default),
  $icon-color: var(--gl-status-warning-icon-color-default),
  $bg: var(--gl-status-warning-background-color-default),
  $hover-color: var(--gl-status-warning-text-color-hover),
  $hover-icon-color: var(--gl-status-warning-icon-color-hover),
  $border-color: var(--gl-status-warning-border-color-hover),
  $active-color: var(--gl-status-warning-text-color-active),
  $active-icon-color:var(--gl-status-warning-icon-color-active),
  $active-bg: var(--gl-status-warning-background-color-active)
);

@include gl-badge-variant(
  $variant: danger,
  $color: var(--gl-status-danger-text-color-default),
  $icon-color: var(--gl-status-danger-icon-color-default),
  $bg: var(--gl-status-danger-background-color-default),
  $hover-color: var(--gl-status-danger-text-color-hover),
  $hover-icon-color: var(--gl-status-danger-icon-color-hover),
  $border-color: var(--gl-status-danger-border-color-hover),
  $active-color: var(--gl-status-danger-text-color-active),
  $active-icon-color:var(--gl-status-danger-icon-color-active),
  $active-bg: var(--gl-status-danger-background-color-active)
);

@include gl-badge-variant(
  $variant: tier,
  $color: var(--gl-status-brand-text-color-default),
  $icon-color: var(--gl-status-brand-icon-color-default),
  $bg: var(--gl-status-brand-background-color-default),
  $hover-color: var(--gl-status-brand-text-color-hover),
  $hover-icon-color: var(--gl-status-brand-icon-color-hover),
  $border-color: var(--gl-status-brand-border-color-hover),
  $active-color: var(--gl-status-brand-text-color-active),
  $active-icon-color:var(--gl-status-brand-icon-color-active),
  $active-bg: var(--gl-status-brand-background-color-active)
);

// overriding Bootstap's `.btn .badge {top: -1px}` as the badge is not vertically centered otherwise
.gl-button .gl-badge {
  top: 0;
  @include gl-py-0;
  @include gl-px-2;
}

.gl-new-dropdown-contents .gl-badge,
.gl-tab-nav-item .gl-badge {
  @include gl-my-n1;
}
