.gl-form-group {
  @include gl-mb-5;

  .col-form-label {
    @include gl-font-base;
    @include gl-font-weight-bold;
    @include gl-line-height-normal;
    @include gl-pt-0;
    @include gl-pb-3;
    color: var(--gl-text-color-strong);

    > .label-description {
      @include gl-mt-3;
      color: var(--gl-text-color-default);
    }
  }

  .optional-label,
  .label-description {
    @include gl-font-weight-normal;
  }

  .invalid-feedback {
    color: var(--gl-control-text-color-error);
  }

  .valid-feedback {
    color: var(--gl-control-text-color-valid);
  }

  .invalid-feedback,
  .valid-feedback,
  .text-gl-muted,
  .gl-text-secondary {
    @include gl-font-base;
    @include gl-line-height-normal;
  }

  .form-control {
    + .invalid-feedback,
    + .valid-feedback,
    + .text-gl-muted,
    &.is-valid + .invalid-feedback + .text-gl-muted,
    + .gl-text-secondary,
    &.is-valid + .invalid-feedback + .gl-text-secondary {
      // See https://gitlab.com/gitlab-org/gitlab-ui/-/merge_requests/2806
      // for the reasoning behind the "valid+invalid" selector above
      @include gl-mt-3;
    }
  }

  // Deprecated, soon to be removed
  .text-gl-muted {
    color: var(--gl-text-color-subtle);
  }

  legend {
    border-bottom: 0;
  }
}
