.gl-banner {
  background-color: var(--gl-banner-promo-background-color);
  border-color: var(--gl-border-color-default);
}

.gl-banner-illustration {
  @include gl-flex-shrink-0;
  @include gl-mr-6;

  img {
    max-width: $grid-size * 15;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.gl-banner-title {
  @include gl-heading-scale-500;
  @include gl-mb-3;
  color: var(--gl-text-color-heading);
}

.gl-banner-close {
  position: absolute;
  top: $gl-spacing-scale-3;
  right: $gl-spacing-scale-3;
}

// Introduction variant
.gl-banner-introduction {
  background-color: var(--gl-feedback-info-background-color);
  border-color: var(--gl-banner-intro-border-color);
}
