// variables
// Popover max width 280px
$gl-popover-max-width: $grid-size * 35;

.gl-popover {
  max-width: $gl-popover-max-width;
  @include gl-border-1;
  @include gl-border-solid;
  @include gl-border-none;
  @include gl-shadow;
  @include gl-font-sm;

  &,
  .popover-header {
    background-color: var(--gl-popover-background-color);
  }

  .popover-body {
    color: var(--gl-text-color-default);
  }

  &.bs-popover-top {
    /* When popover position is top, the arrow is translated 1 pixel
    *  due to the box-shadow include in our custom styles.
    */
    > .arrow::before {
      bottom: 1px;
      border-top-color: var(--gl-popover-background-color);
    }

    > .arrow::after {
      bottom: 2px;
      border-top-color: var(--gl-popover-background-color);
    }
  }

  &.bs-popover-bottom {
    > .arrow::before {
      top: 1px;
      border-bottom-color: var(--gl-popover-background-color);
    }

    > .arrow::after {
      top: 2px;
      border-bottom-color: var(--gl-popover-background-color);
    }

    > .popover-header::before {
      border-color: var(--gl-popover-background-color);
    }
  }

  &.bs-popover-right {
    > .arrow::before {
      left: 1px;
      border-right-color: var(--gl-popover-background-color);
    }

    > .arrow::after {
      left: 2px;
      border-right-color: var(--gl-popover-background-color);
    }
  }

  &.bs-popover-left {
    > .arrow::before {
      right: 1px;
      border-left-color: var(--gl-popover-background-color);
    }

    > .arrow::after {
      right: 2px;
      border-left-color: var(--gl-popover-background-color);
    }
  }

  .popover-header {
    color: var(--gl-text-color-heading);
    @include gl-heading-scale-200;
    @include gl-border-bottom-0;
    @include gl-pb-0;
  }

  &.has-title .popover-header {
    @include gl-overflow-anywhere;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &.has-close-button:not(.has-title) .popover-header {
    padding-top: $gl-spacing-scale-2;
  }

  .popover-body {
    @include gl-py-3;
    @include gl-px-4;

    > .popover-hr {
      @include gl-my-5;
      @include gl-mx-0;
    }
  }
}
