.gl-card {
  background-color: var(--gl-background-color-default);
  @include gl-border-solid;
  @include gl-display-flex;
  @include gl-flex-direction-column;
  @include gl-overflow-wrap-break;
  position: relative;
  @include gl-rounded-base;
  @include gl-font-base;
}

.gl-card,
.gl-card-header,
.gl-card-footer {
  @include gl-border-1;
  border-color: var(--gl-border-color-default);
}

.gl-card-header,
.gl-card-body,
.gl-card-footer {
  @include gl-p-5;
}

.gl-card-header {
  @include gl-border-b-solid;
  border-top-left-radius: calc($gl-border-radius-base - $gl-border-size-1);
  border-top-right-radius: calc($gl-border-radius-base - $gl-border-size-1);
  color: var(--gl-text-color-heading);
}

.gl-card-footer {
  @include gl-border-t-solid;
  border-bottom-left-radius: calc($gl-border-radius-base - $gl-border-size-1);
  border-bottom-right-radius: calc($gl-border-radius-base - $gl-border-size-1);
}

.gl-card-header,
.gl-card-footer {
  background-color: var(--gl-background-color-subtle);
}

.gl-card-body,
.gl-card-footer {
  color: var(--gl-text-color-default);
}
